.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

main {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    border: 1px solid black;
}

main div {
    width: 8px;
    height: 8px;
}

.hovered {
    background: black;
}

button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}


